certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
decorator==4.4.2
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
moviepy==1.0.3
numpy==2.4.2
pillow==12.1.0
proglog==0.1.12
pycparser==3.0
pydub==0.25.1
requests==2.32.5
scipy==1.17.0
simpleaudio==1.0.4
soundfile==0.13.1
tqdm==4.67.2
urllib3==2.6.3
